body {
  background-color: aquamarine;
  
  text-align:left;
   
  
  
 
}

h1 {
	text-align:center;
	
	 font-size : 50px;
}


input {
	display:block;
	font: 15px roboto;
	padding:5px;
	margin-bottom:10px;
	background:white; 
	border: 3;
	
	
}

legend {
	padding: 7px 5px;
	font-size : 20px;
}


fieldset{
	
	width: 25%;
	border:0;
	
}


a {
	margin:5%;
	width: 25%;
	font-size : 25px;
}



